a:hover{
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
}

.app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex; 
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 40px;
    text-decoration: none;
}

.projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex; 
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.header-container {
    width: 100vw;
    height: 100vh;
}

.projects-title {
    color: white;
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    z-index: 3;
}

.down {
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.bg {
    opacity: 0;
    position: absolute;
    top: 0;

    height: 110%;
    width: 110%;
    top: -20px;

    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}